/* Font */

/* Colours */

/* Elements */

/* Containers */
.main-container {
    min-height: calc(100vh - 106px);
}

/* Social icons and email on the sides */
.socials {
    position: fixed;
    bottom: 120px;
}

.socials li, .email li {
    border: none;
}

.email {
    position: fixed;
    bottom: 190px;
}

.vl {
    border-left: 2px solid black;
    height: 120px;
    position: fixed;
    bottom: 0px;
  }

  .email-rotate {
    transform: rotate(90deg);

  }

  .letter-spacing {
    letter-spacing: 1px;
  }

  /* Home section */
  #home {
    margin-top: 150px;
    margin-left: 25%;
  }

  #home p, h1 {
    font-size: larger;
  }

/* Media Queries */