/* Font */

/* Colours */

/* Elements */

/* Containers */
.main-container {
    min-height: calc(100vh - 106px);
}

/* Social icons and email on the sides */
.socials {
    position: fixed;
    bottom: 120px;
}

.socials li,
.email li {
    border: none;
}

.email {
    position: fixed;
    bottom: 190px;
}

.vl {
    border-left: 2px solid black;
    height: 120px;
    position: fixed;
    bottom: 0px;
}

.email-rotate {
    transform: rotate(90deg);

}

.letter-spacing {
    letter-spacing: 1px;
}

/* Home section */
#home {
    margin-top: 150px;
    margin-left: 25%;
}

#home p,
h1 {
    font-size: larger;
}

/* About section */
#about {
    margin-top: 150px;
    margin-left: 15%;
}

#about p,
h3 {
    font-size: larger;
}

.frame {
    height: 200px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
}

.frame img {
    border-radius: 5px;
}

.photo-frame1 {
    position: relative;
    transform: rotate(-30deg);
    background-color: blueviolet;

}

.photo-frame2 {
    position: relative;
    transform: rotate(-30deg);
    background-color: beige;
}

.photo-frame3 {
    transform: rotate(-300deg);
    background-color: aquamarine;
}

/* Experience section */

#experience {
    margin-top: 150px;
    margin-left: 15%;
    width: 70%;
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    min-height: 300px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    min-height: 300px;
  }

  /* Work section */

#work {
    margin-top: 150px;
    margin-left: 15%;
    width: 70%;
}

.work-box {
    background-color: #ccc;
    padding: 1rem;
    width: 100%;
    position: relative;
    left: 0px;
    opacity: 0.8;
}

.project-image{
    width: 100%;
    z-index: 1;
}

.project-image img {
    height: 100%;
    width: 60%;
}

.project-content {
    position: absolute;
    width: 40%;
    right: 15%;
    z-index: 2;
}

.project-content p {
    font-size: larger;
}

/* Media Queries */